*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/*................................. sidebar.js............................. */
.sidebar
{
  background:lightblue;
  height:100vh;
  -webkit-box-shadow: 16px 2px 16px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 16px 2px 16px -9px rgba(0,0,0,0.75);
box-shadow: 16px 2px 16px -9px rgba(0,0,0,0.75);
color: black;
}
.sidebar a
{
  color: black;
}

.top-section
{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}
.iconslinks
{
  display: flex;
  gap:20px;
  padding: 10px 10px;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-decoration: none;
  transition: 0.5s;

}
.iconslinks:hover
{
  border-right: 4px solid black;
  background:rgba(0,0,0,0.2);
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);  
  font-size:30px;
  transition: 0,3s;

}
.main-content
{
  

}
.logout
{
  position: absolute;
    bottom: 30px;
    width: 100%;
    margin: 1rem;
    gap: 1rem;
}

/* ................project.js.............. */
.projectform
{
  background: rgba(0,0,0,0.2);
  padding:2rem;
  border-radius:1rem;

}

.popproject
{
  -webkit-box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.75);
box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.75);
position: absolute;
background:white; 
padding:2rem;
width:60%;
margin:auto;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  }
  ::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
  }
  ::-webkit-scrollbar-thumb
  {
  background:white;
  }

  .supporttable{
    width:80%;
    height:440px;
    overflow-y: scroll; /* Add the ability to scroll */
    }
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    .supporttable::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .supporttable {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
    /* /////// */
    .sup{
      width:80%;
      height:420px;
      overflow-y: scroll; /* Add the ability to scroll */
      }
      
      /* Hide scrollbar for Chrome, Safari and Opera */
      .sup::-webkit-scrollbar {
          display: none;
      }
      
      /* Hide scrollbar for IE, Edge and Firefox */
      .sup {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
    
  /* projectcard *********************/
  .projectcard
  {
  margin-top: 4rem;
  -webkit-box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.75);
  justify-content: center;
  width: 70%;
  margin: auto;
  padding: 2rem;
  margin-top: 3rem;
}
.projectupdate
{
  position:absolute;
  width: 60%;
  margin: auto;
  background: white;
}
.pp
{
  width:90%;
  margin: auto;
}
/*................................. support.js ..................*/

.supportform{
-webkit-box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.75);
box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.75);
position: absolute;
background: white; padding: 1rem;
z-index: 8;

}
.ss
{
   width:89%;
   margin: auto;
   margin-top:3rem;
}
.sf
{
  margin: auto;
  width: 89%;
 
}
.supporttable
{
  background: lightcyan;
  padding:1rem;
  margin:5rem;
  margin-top:2rem;
  border-radius: 1rem;
}
.support-top
{
  text-align: center;
  background:lightsalmon;
  font-size:1rem;
  padding: 0.1rem;
  border-radius:0.1rem;width:90%;
  margin:auto;
  margin-top:1rem;
}


/* .............................client part ......................*/
.clientpop
{
  width:80%;
  margin: auto;
  -webkit-box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.75);
box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.75);
padding: 3rem;
}
.finddash
{
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top:2.6rem;
  background: rgba(0,0,0,0.2);color: black;
  font-size:1rem;
  padding: 0.1rem;
  border-radius:0.1rem;
}

/*................................ employees........................... */
.employpop
{
  width:50%;
  margin-right:auto;
  -webkit-box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.75);
box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.75);
padding:1rem;
position:absolute;
background:white;
}

/* findaperson client section.. */
.findaperson
{
width: 80%;
margin: auto;  
-webkit-box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.75);
box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.75);
padding:2rem;
margin-top:3rem;
}
/* ****************dashboard************************** */
.dashboard
{
  width:90%;
  margin:auto;
  margin-top: 1rem;
}
.dash
{
  text-align: center;
  background:rgba(0,0,0,0.2);
  color: black;
  font-size:1rem;
  padding: 0.1rem;
  border-radius:0.1rem;
}
.showproject
{
  -webkit-box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.75);
box-shadow: 6px 7px 14px 0px rgba(0,0,0,0.75);
width:60%;
margin: auto;
}
  
.currentproject{
  
  height:250px;
  overflow-y: scroll; /* Add the ability to scroll */
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .currentproject::-webkit-scrollbar {
      display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .currentproject {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }